<ion-view view-title="Activities">
  <ion-content>
    <div class="list" >
      <ion-item ng-if="activitiesControl.activities && activitiesControl.activities.length"
                ng-repeat="activity in activitiesControl.activities">
        <h2>{{activity.type}}</h2>
        <p></p>
        <p>{{activity.start | date:'dd/MM/yyyy HH:mm'}} - {{activity.end | date:'dd/MM/yyyy HH:mm'}}</p>
        <p>{{activity.intensity.description}}</p>
        <button class="button button-small button-assertive icon ion-trash-a" on-tap="activitiesControl.confirmDelete(activity)"></button>
        <button class="button button-small button-positive icon ion-edit" on-tap="activitiesControl.editActivity(activity.id)"></button>
      </ion-item>
      <ion-item ng-if="activitiesControl.activities && !activitiesControl.activities.length">
        No activities found, time to move!
    </div>
    <div class="new-button">
      <button type="button" class="button button-outline button-positive icon-left ion-plus "
              on-tap="activitiesControl.newActivity()">New</button>
    </div>
  </ion-content>
</ion-view>
